---
---

@import "{{ site.theme }}";
nav{
  background-color: #333;
  color: #fff;
  padding:10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  pdding: 0;
}
nav li {
  display: inline;
  margin-right: 10px;
}
nav a {
  text-decoration: none;
  text-align: center;
  color:#fff;
}
nav a:hover {
  color: #ff9900;
}
footer {
      font-size: 12px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #696969;
      padding:0px 0 20px 0px;
      margin: 0px;
      text-align: center;
}
